[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "==2.2.5"
django-countries = "*"
mysqlclient = {path = "E:/202009projects/django/_mysqlclient_wheel/mysqlclient-1.4.6-cp38-cp38-win32.whl"}
pillow = "*"

[requires]
python_version = "3.8"
